name: CI Pipeline

on:
  push:
    branches: ["master"]

env:
  REGISTRY: ghcr.io

permissions:
  contents: write
  packages: write

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.bump.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "21"

      - name: Bump patch version in pom.xml
        id: bump
        run: |
          CURRENT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT_VERSION"
          PATCH=$((PATCH + 1))
          NEW_VERSION="$MAJOR.$MINOR.$PATCH"

          mvn versions:set -DnewVersion=$NEW_VERSION
          mvn versions:commit

          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Commit and push version bump
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit -am "bump patch version to ${{ steps.bump.outputs.version }}"
          git push origin master

  build:
    runs-on: ubuntu-latest
    needs: version

    steps:
      - name: Checkout UPDATED master
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: "21"

      - name: Build with Maven (run tests)
        run: mvn clean package

  docker:
    runs-on: ubuntu-latest
    needs: version

    steps:
      - name: Checkout UPDATED master
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0

      - name: Build Docker image
        run: docker build -t simple-java-maven-app:${{ needs.version.outputs.version }} .

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io \
            -u ${{ github.actor }} --password-stdin

      - name: Tag and push Docker image
        run: |
          docker tag simple-java-maven-app:${{ needs.version.outputs.version }} \
            $REGISTRY/${{ github.repository }}:${{ needs.version.outputs.version }}
          docker push $REGISTRY/${{ github.repository }}:${{ needs.version.outputs.version }}
